.home-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.home-content {
  width: 70%;
  position: relative;
}

.home-content h1 {
  text-align: center;
  padding: 10px;
  background-color: #11324d;
  color: #fff;
  font-weight: 200;
  border-radius: 10px;
}

.data-container {
  margin-top: 25px;
}

.fab-icon {
  position: relative;
}

.fab-icon .fab {
  margin: auto;
  position: absolute;
  top: 25px;
  left: 0;
  bottom: 0;
  right: 0;
}

/*Modal*/
.modal,
.task-modal-view {
  display: none;
  position: fixed;
  padding-top: 280px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.modal.active {
  display: block;
}

.task-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 690px;
  width: 100%;
}

.task-form {
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
}

input[type="text"]:active,
input[type="text"]:focus {
  outline: none;
}

input[type="submit"] {
  width: 100%;
  padding: 15px;
  outline: none;
  border: none;
  margin-top: 15px;
  background-color: #1e3163;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.close {
  color: #aaaa;
  float: right;
  font-size: 22px;
  font-weight: bold;
}

.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.swal2-confirm {
  border: 0;
  background: initial;
  background-color: #e98580;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 1em;
  margin-right: 10px;
  cursor: pointer;
}

.swal2-confirm:hover {
  opacity: 0.7;
}

.swal2-cancel {
  border: 0;
  background: initial;
  background-color: #fff;
  color: #303f9f;
  border: 1px solid #303f9f;
  padding: 10px;
  border-radius: 4px;
  font-size: 1em;
  margin-right: 10px;
  cursor: pointer;
}

.swal2-cancel:hover {
  background-color: #303f9f;
  color: #fff;
}

.swal2-confirm {
  border: none;
  padding: 10px 20px;
  background: initial;
  background-color: #303f9f;
  color: #fff;
  font-size: 1em;
}

.loading {
  display: block;
  text-align: center;
  margin-top: 90px;
}

/* Task Details */
.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
}

.task-card span {
  font-size: 0.7rem;
}

.task-card h3,
.task-card p {
  word-break: break-word;
}

.task-details {
  font-size: 1.3rem;
}

.task-btn-actions button {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #303f9f;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
}

.task-btn-actions button i {
  font-size: 1rem;
  color: #fff;
}

.task-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.task-info h2 {
  font-size: 1.3rem;
  margin-bottom: 5px;
  font-weight: 400;
}

.task-modal-content .task-info p {
  display: block;
  color: #000;
}

@media screen and (max-width: 690px) {
  .home-content {
    width: 100%;
  }

  .task-card h3 {
    font-size: 0.9rem;
  }

  .task-card span {
    font-size: 0.5rem;
  }

  .task-btn-actions button {
    padding: 5px;
  }

  .task-btn-actions button i {
    font-size: 0.8rem;
  }

  .task-modal-content {
    width: 80%;
  }

  .task-info h2 {
    word-break: break-word;
  }

  .task-info p {
    font-size: 80%;
  }

  .MuiCardContent-root h3 {
    font-size: 1.1rem;
    max-width: 250px;
  }

  .MuiButton-root {
    min-width: 25px;
  }

  button .MuiButton-label {
    width: 20px;
  }

  .modal,
  .task-modal-view {
    padding-top: 200px;
  }
}
