* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bd-container {
  max-width: 1240px;
  margin: 0 1rem;
}

@media screen and (min-width: 1240px) {
  .bd-container {
    margin: 0 auto;
  }
}
